.updateProfile{
    background-image: url('../../public/assets/img/main-bg-figma.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    .form{
        display: flex;
        justify-content: space-evenly;
    }

    .formSection{
        display: flex;
        padding: 20px 10px 0 10px;
        color: white;
        font-weight: 600;
        height: 600px;

        Form{
            border: 3px solid white;
            border-radius: 8px;
            width: 500px;
            height: max-content;
            font-size: 12px;

            .form{
                margin: 0 !important;
                padding: 0;
            }
            .infoHeader{
                font-size: 18px;
                padding: 15px 0;
                text-align: center;
                text-transform: uppercase;

            }
            input{
                margin: 0;
                padding: 0;
            }
            .info{
                margin: 0;
                padding: 0 0 10px 0;
                text-align: center;
                font-size: 16px;
                font-weight: 600;
                text-transform:uppercase;
            }
            .row{
                margin:0;
                padding: 0;
            }
            .mb-3{
                margin: 0;
            }
        }
    }

    .profilePageUpdate{
        padding: 15px;
        display: flex;
        .card{
        width: 200px;
        height: max-content;
        text-align: center;
        background: rgba(217, 108, 6, 0.6);
        color: white;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        border: 2px solid white;
        .profilePicture{
            flex: 1;
            background-image: url('../../public//assets/img/person-1.jpeg');
            width: 175px;
            height: 175px;
            background-size: cover;
            justify-content: center;
            border-radius: 50%;
            margin: auto;
            border: 1px solid white;
        }
        .cardTitle{
            flex: 1;
            padding-top: 40px;
            h3{
                margin: 0;
                padding-top: 20px;
            }
        }
        .cardContent{
            flex: 2;
            .username, .email, .gamePlayed, .gamePlayed{
                padding: 10px 0;
            }
        }
    }
    }
}