.navbar {
  background-color: rgba(48, 48, 48, 0.6)!important;

  .navbrand {
    color: white !important;
    font-weight: 700 !important;
  }

  .navitem {
    font-weight: 600;

    .navlink {
      color: rgba(255,255,255,.55) !important;
    }
    
  }
    
  
}
